
{% macro navbar(isLog) %}
<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar brand -->
        <a href=/ style="margin-top: 10px;"> <h5>CollabCalendar</h5></a>

        

        {% if isLog %}
        
        <!-- Navbar conent -->
       

        <div class="navbar-nav flex-row d-flex align-items-center">




            <!-- Create a new task Button-->
            <a class="btn btn-light px-6" data-toggle="modal" data-target="#NewTaskModal" role="button" style="background-color: #033768; color:aliceblue; margin-right: 10px;"> Create a new task</a>




            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">




                <ul class="navbar-nav d-flex flex-row">

                    <!-- Notifications icon-->
                    <li class="nav-item me-3 me-lg-0 dropdown">
                        <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-expanded="false"
                        >
                            <i class="fas fa-bell"></i>
                            <span class="badge rounded-pill badge-notification bg-danger">1</span>
                        </a>
                        <ul
                        class="dropdown-menu dropdown-menu-right"
                        aria-labelledby="navbarDropdownMenuLink"
                        >
                            <li>
                                <a class="dropdown-item" href="#">Some news</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another news</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>

                    <!-- user icon -->
                    <li class="nav-item me-3 me-lg-0 dropdown">

                        <!-- user icon -->
                        <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-expanded="false"
                        >
                        <img
                        src="https://mdbootstrap.com/img/new/avatars/2.jpg"
                        class="rounded-circle"
                        height="25"
                        alt="Black and White Portrait of a Man"
                        loading="lazy"
                        />
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="/account/{{ID}}">Personal informations</a>
                                <a class="dropdown-item" href="/logout">Log out</a>
                            </li>             
                        </ul>
                    </li>

                </ul>
            </div>
        <!-- Collapsible wrapper -->
        </div>

        {% endif %}

    </div>
<!-- Container wrapper -->
</nav>

<!-- modal -->
<div class="modal fade" id="NewTaskModal" tabindex="-1" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a New Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <!-- status infomation display -->
            <p class="statusMsg"></p>
            <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
	        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
            
            

            <form >
                
                <div class="form-group">
                  <input type="text" class="form-control" id="nameInput" placeholder="Task name">
                </div>

                <div class="form-group">
                    <input type="textarea" class="form-control" id="descriptionInput" placeholder="Description">
                </div>

                <div class="form-group">
                    <label>From:</label>
                    <input class="form-control"  type="datetime-local" id="dateBeginInput" name="dateBeginInput" onchange="updatedate();">
                </div>

                <div class="form-group">
                    <label>Duration (hour):</label> 
                    <input type="number" id="intervalInput" name="intervalInput" min="1" max="24" value="2">
                </div>

                <div class="form-group">
                    <label>Group :</label>
                    <select class="form-select" name="groupSelect" id="groupSelect">
                    </select>
                </div>


                





                <button type="submit" class="btn btn-secondary">Submit</button>           <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </form>
              
              <br>
              <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
              <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>




        </div>       
      </div>
    </div>
  </div>



  {% endmacro %}

