<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <link rel="icon" type="image/png" href="/static/faviconNew.ico" />
  <title>ColCalendar | {% block title %}{% endblock %}</title>

  {% include "head/importLib.html" %}

  <!-- side Bar -->
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="/static/css/calendarJS.css">

</head>
<body>

  <!-- Navbar -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>


        <div class="navbar-nav flex-row d-flex align-items-center">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/">
                <img
                  src="/static/image/LOGO.png"
                  height="50"
                  loading="lazy"
                />
            </a>
           <h5 style="margin-top: 10px;">CollabCalendar</h5>
        </div>
        
        <!-- Navbar conent -->
        <div class="navbar-nav flex-row d-flex align-items-center">
            <!-- Create a new task Button-->
            <li class="nav-item fc">
                <button type="button" class=" fc-button fc-button-primary"data-toggle="modal" data-target="#NewTaskModal">New Task</button>
            </li>


            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex flex-row">

                    <!-- Notifications icon-->
                    <li class="nav-item me-3 me-lg-0 dropdown">
                        <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-expanded="false"
                        >
                            <i class="fas fa-bell"></i>
                            <span id="notifCount" class="badge rounded-pill badge-notification bg-danger">0</span>
                        </a>
                        <ul
                        id="notifContainer"
                        class="dropdown-menu dropdown-menu-right"
                        aria-labelledby="navbarDropdownMenuLink"
                        >
                        </ul>
                    </li>

                    <!-- user icon -->
                    <li class="nav-item me-3 me-lg-0 dropdown">

                        <!-- user icon -->
                        <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-expanded="false"
                        >
                        
                        <img
                        src={{user.photo}}
                        class="rounded-circle"
                        height="25"
                        alt="Black and White Portrait of a Man"
                        loading="lazy"
                        />
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="/account">Personal informations</a>
                                <a class="dropdown-item" href="/logout">Log out</a>
                            </li>             
                        </ul>
                    </li>

                </ul>
            </div>
        <!-- Collapsible wrapper -->
        </div>


    </div>
<!-- Container wrapper -->
  </nav>
  
  <!-- sidebar -->
  <div class="content">
    <div class="wrapper">
        {% include "module/groupSideBar.html" %}
        <div class="main_content">
            {% block content %}{% endblock %}
        </div>
    </div>
  </div>



   <!-- NewTaskmodal -->
   <div class="modal fade" id="NewTaskModal" tabindex="-1" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a New Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <!-- status infomation display -->
            <p class="statusMsg"></p>
            <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
	        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
            
            <form>
                <!-- Task name -->
                <div class="row mb-3 col-sm-10">
                    <input type="text" class="form-control" id="nameInput" placeholder="Task name" required minlength="1" maxlength="40" autocomplete="off">
                </div>

                <!-- Task description -->
                <div class="row mb-3 col-sm-10">
                  <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" maxlength="200"></textarea>
                </div>

                <!-- Task date -->
                <div class="row mb-3 col-sm-10">
                    <input class="form-control"  type="datetime-local" id="dateBeginInput" name="dateBeginInput"  >
                </div>

                <div class="row mb-3 col-sm-12">

                  <!-- Task duration -->
                  <label for="intervalInput" class="col-sm-1 col-form-label">
                        <i class="fas fa-clock fa-1x"></i></i>
                  </label>
                  <div class="col-sm-3">
                      <input  class="form-control" type="number" id="intervalInput" name="intervalInput" min="1" max="24" value="2" style="padding-left: 0.5cm;">
                  </div>

                  <!-- Task group -->
                  <label for="group" class="col-sm-1 col-form-label">
                      <svg focusable="false" width="20" height="20" viewBox="0 0 24 24" class=" NMm5M"><path d="M15 8c0-1.42-.5-2.73-1.33-3.76.42-.14.86-.24 1.33-.24 2.21 0 4 1.79 4 4s-1.79 4-4 4c-.43 0-.84-.09-1.23-.21-.03-.01-.06-.02-.1-.03A5.98 5.98 0 0 0 15 8zm1.66 5.13C18.03 14.06 19 15.32 19 17v3h4v-3c0-2.18-3.58-3.47-6.34-3.87zM9 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2m0 9c-2.7 0-5.8 1.29-6 2.01V18h12v-1c-.2-.71-3.3-2-6-2M9 4c2.21 0 4 1.79 4 4s-1.79 4-4 4-4-1.79-4-4 1.79-4 4-4zm0 9c2.67 0 8 1.34 8 4v3H1v-3c0-2.66 5.33-4 8-4z"></path></svg>
                  </label>                    
                  <div class="col-sm-5">
                      <select class="form-select" name="groupSelect" id="groupSelect" value='1'>
                      </select>
                  </div>
                </div>

                <!-- footer -->
                <div class="col-sm-9"> 
                    <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>           
                </div>
              </form>

              <br>
              <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
              <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
        </div>       
      </div>
    </div>
  </div>


  <!-- ShowTaskModal -->
  <div class="modal fade" id="ShowTaskModal" tabindex="-1" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="ShowTaskModalHeader"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeShowModal();">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div id="deleteTaskMessage"></div>
          <p></p>

          <!-- TASK ID HIDDEN -->
          <div id="taskid"></div>
          
          <!-- Task Description -->
          <div class="row mb-1 col-sm-12">
            <label for="ShowTaskModalDescription" class="col-sm-2 col-form-label">
                Description: 
            </label>
            <div class="col-sm-1" style="padding-left: 2rem;">
              <div class="card border-light" style="width: 21rem;">
                <div class="card-body">
                  <p id="ShowTaskModalDescription"></p>
                </div>
              </div>        
            </div>
            
            <!-- Task Date -->
            <div class="row mb-1 col-sm-12">
              <label for="ShowTaskModalDate" class="col-sm-2 col-form-label">
                  Date: 
              </label>
              <div class="col-sm-1" style="padding-left: 2rem;">
                <div class="card border-light " style="width: 21rem;">
                  <div class="card-body">
                    <p id="ShowTaskModalDate"></p>
                  </div>
                </div>        
              </div>

              <!-- Task Interval -->
              <div class="row mb-1 col-sm-12">
                <label for="ShowTaskModalInterval" class="col-sm-2 col-form-label">
                    Duration: 
                </label>
                <div class="col-sm-1" style="padding-left: 2rem;">
                  <div class="card border-light " style="width: 21rem;">
                    <div class="card-body">
                      <p id="ShowTaskModalInterval"></p>
                    </div>
                  </div>        
                </div>
              </div>

              <!-- footer -->
              <div class="modal-body">
                <div class="col-sm-9"> 
                  <input type="button"class="btn btn-secondary btn-lg" data-dismiss="modal" id="ShowTaskModalClose" onclick="closeShowModal();" value="Close">
                  <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#ModifyTaskModal" onclick="closeShowModal(); modifyActivity()">Edit</button>
                  <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" id="DeleteTask" onclick="removeActivity();"">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ModifyTaskModal -->
  <div class="modal fade" id="ModifyTaskModal" tabindex="-1" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModifyTaskModalHeader"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="formModifyTask">
            <!-- Task name -->
            <div id="newNameInput" class="row mb-3 col-sm-10"></div>
            <!-- Task description -->
            <div id="newDescriptionInput" class="row mb-3 col-sm-10"></div>
            <!-- Task date -->
            <div  id="newDateInput" class="row mb-3 col-sm-10"></div>

            <div class="row mb-3 col-sm-12">
              <!-- Task duration -->
              <label for="newIntervalInput" class="col-sm-1 col-form-label">
                  <i class="fas fa-clock fa-1x"></i></i>
              </label>
              <div id="newIntervalInput" class="col-sm-3"></div>           
            </div>

            <div class="col-sm-9"> 
                <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" id="ModifyTaskModal">Close</button>
                <button type="submit" class="btn btn-success btn-lg">Submit</button>           
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "head/importCal.html" %}

</body>
</html>
