<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <link rel="icon" type="image/png" href="/static/favicon.ico" />
  <title>ColCalendar | {% block title %}{% endblock %}</title>

  {% include "head/importLib.html" %}

  <!-- side Bar -->
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="/static/css/calendarJS.css">
  <!-- <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> -->

</head>
<body>



  {% import "/module/navbar.html" as navbarfile %}
  


  

  <div class="content">
    <div class="wrapper">
        {% include "module/groupSideBar.html" %}
        <div class="main_content">
            {% block content %}{% endblock %}
        </div>
    </div>
  </div>


<!-- ShowTaskModal -->
<div class="modal fade" id="ShowTaskModal" tabindex="-1" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">


      <div class="modal-header">
        <h5 class="modal-title" id="ShowTaskModalHeader"></h5>



        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeShowModal();">
          
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">



        <p id="ShowTaskModalDescription"></p>
        <p id="ShowTaskModalDate"></p>
        <p id="ShowTaskModalInterval"></p>
        <p id="ShowTaskModalGroup"></p>

        
          
      </div>

      <div class="modal-body">

        <div class="col-sm-9"> 
          
          <input type="button"class="btn btn-secondary btn-lg" data-dismiss="modal" id="ShowTaskModalClose" onclick="closeShowModal();" value="Close">
          <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#ModifyTaskModal" onclick="closeShowModal();">Edit</button>
          <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" id="DeleteTask">Delete</button>

        </div>
      </div>

    </div>
  </div>
</div>

<!-- ModifyTaskModal -->
<div class="modal fade" id="ModifyTaskModal" tabindex="-1" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">


      <div class="modal-header">
        <h5 class="modal-title" id="ModifyTaskModalHeader"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">


        <form>



          <!-- Task name -->
          <div class="row mb-3 col-sm-10">
              <input type="text" class="form-control" id="nameInput" value="addcurrentvalue">
          </div>
          <!-- Task description -->
          <div class="row mb-3 col-sm-10">
              <input type="textarea" class="form-control" id="descriptionInput" >
          </div>
          <!-- Task date -->
          <div class="row mb-3 col-sm-10">
              <input class="form-control"  type="datetime-local" id="dateBeginInput" name="dateBeginInput"  >
          </div>




          <div class="row mb-3 col-sm-12">
              <!-- Task duration -->
              <label for="intervalInput" class="col-sm-1 col-form-label">
                   <i class="fas fa-clock fa-1x"></i></i>
              </label>
              
              <div class="col-sm-3">
                  <input  class="form-control" type="number" id="intervalInput" name="intervalInput" min="1" max="24" value="2" style="padding-left: 0.5cm;">
              </div>
              <!-- Task group -->
              <label for="group" class="col-sm-1 col-form-label">
                  <svg focusable="false" width="20" height="20" viewBox="0 0 24 24" class=" NMm5M"><path d="M15 8c0-1.42-.5-2.73-1.33-3.76.42-.14.86-.24 1.33-.24 2.21 0 4 1.79 4 4s-1.79 4-4 4c-.43 0-.84-.09-1.23-.21-.03-.01-.06-.02-.1-.03A5.98 5.98 0 0 0 15 8zm1.66 5.13C18.03 14.06 19 15.32 19 17v3h4v-3c0-2.18-3.58-3.47-6.34-3.87zM9 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2m0 9c-2.7 0-5.8 1.29-6 2.01V18h12v-1c-.2-.71-3.3-2-6-2M9 4c2.21 0 4 1.79 4 4s-1.79 4-4 4-4-1.79-4-4 1.79-4 4-4zm0 9c2.67 0 8 1.34 8 4v3H1v-3c0-2.66 5.33-4 8-4z"></path></svg>
              </label>                    
              
              <div class="col-sm-5">
                  <select class="form-select" name="groupSelect" id="groupSelect" value='1'>
                  </select>
              </div>
            </div>



          <div class="col-sm-9"> 
            <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal" id="ModifyTaskModal">Close</button>
      
              <button type="submit" class="btn btn-success btn-lg">Submit</button>           
          </div>
        </form>

          
      </div>



    </div>
  </div>
</div>











  {% include "head/importCal.html" %}

</body>

</html>
