{% extends "canvas.html" %}

{% block content %}
<div class="container">
    <h1>Create a new group</h1>

    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST" action="{{url_for('new_activity')}}">

            <div class="col-md-6 offset-md-3">
                {{form.csrf_token}}
                {% if form.errors %} {% for message in form.name.errors %} {{ message }}{%endfor %}{% endif %}<br>
                {{form.name.label}} <br> {{form.name(size=15)}} <br>
                {% if form.errors %} {% for message in form.invited.errors %} {{ message }}{%endfor %}{% endif %}<br>
                {{form.invited.label}} <br> {{form.invited(size=15)}}<br>
                {{form.submit}}
            </div>
        </form>
    </div>
</div>
{% endblock %}